<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin-Product Images</title>
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{/vendors/ti-icons/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/vendors/base/vendor.bundle.base.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- endinject -->
</head>
<body>

<div class="container-scroller">

    <div th:replace="fragments/header_admin :: header_admin_info (vm=${vm.getLayoutHeaderAdminVM()})"></div>

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/product}">
                        <i class="ti-tablet menu-icon"></i>
                        <span class="menu-title">Product</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/category}">
                        <i class="ti-palette menu-icon"></i>
                        <span class="menu-title">Category</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/order}">
                        <i class="ti-layout-list-post menu-icon"></i>
                        <span class="menu-title">Order</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/chart}">
                        <i class="ti-pie-chart menu-icon"></i>
                        <span class="menu-title">Charts</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="main-panel">
            <div class="content-wrapper">
                <div class="page-header">
                    <h1>Product Image Management</h1>
                </div>

<!--                <label  id="new-product-image" class=" btn btn-primary" style="border: 1px solid #ccc;display: inline-block;padding: 6px 12px;cursor: pointer;">-->
<!--                    <input th:attr="data-productId=${vm.getProductId()}" type="file" id="add-product-image" style="display: none;"/>-->
<!--                    Add new image-->
<!--                </label>-->


                <label  id="" class=" btn btn-primary new-image" style="border: 1px solid #ccc;display: inline-block;padding: 6px 12px;cursor: pointer;" data-toggle="modal" data-target="#exampleModalLong">
                    Add new image
                </label>



                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th colspan="2">
                                        Index
                                    </th>
                                    <th colspan="4">
                                        Image
                                    </th>
                                    <th colspan="4">
                                        Created Date
                                    </th>
                                    <th colspan="2">

                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="productImage : ${vm.getProductImageVMList()}">
                                    <td colspan="2" th:text="${productImage.getId()}"></td>
                                    <td colspan="4" style="text-align: center">
                                        <img style="width: 250px; height: auto" th:src="${productImage.getLink()}" class="product-main-image">
                                    </td>
                                    <td colspan="4" th:text="${productImage.getCreatedDate()}"></td>
                                    <td colspan="2">
<!--                                        <label class="custom-file-upload btn btn-primary edit-image" style="border: 1px solid #ccc;display: inline-block;padding: 6px 12px;cursor: pointer;" th:attr="data-id=${productImage.getId()}" data-toggle="modal" data-target="#exampleModalLong">-->
<!--                                            Change image-->
<!--                                        </label>-->
                                        <label class=" btn btn-primary delete-product-image"  style="border: 1px solid #ccc;display: inline-block;padding: 6px 12px;cursor: pointer;" th:attr="data-id = ${productImage.getId()}">
                                            Delete
                                        </label>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Add new/ update product image</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div style="text-align: center">
                                <img style="max-width: 200px; height: auto" src="https://www.vietnamprintpack.com/images/default.jpg" class="image">
                            </div>

                            <div style="text-align: center; margin-top: 20px">
                                <input type='file'  id="change-image"/>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary btn-save-image">Save changes</button>
                        </div>
                    </div>
                </div>

            </div>

            <footer class="footer" th:replace="fragments/footer_admin :: footer_admin_info"></footer>

        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>

<script th:inline="javascript">
    /*<![CDATA[*/

    let vm = [[${vm}]];

    /*]]>*/
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.9.0/sweetalert2.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js"></script>
<script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>

<script th:src="@{/vendors/base/vendor.bundle.base.js}"></script>
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->
<script th:src="@{/js/admin-js/product-image.js}"></script>
<script th:src="@{/js/admin-js/off-canvas.js}"></script>
<script th:src="@{/js/admin-js/hoverable-collapse.js}"></script>
<script th:src="@{/js/admin-js/template.js}"></script>
<script th:src="@{/js/admin-js/todolist.js}"></script>
<!-- Custom js for this page-->
<script th:src="@{/js/admin-js/dashboard.js}"></script>


</body>
</html>